/* Global Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
  }
  
  /* Header */
  header {
    background-color: #ffffff;
  }
  
  /* Card */
  .card {
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  /* Footer */
  footer {
    background-color: #ffffff;
    border-top: 1px solid #e9ecef;
  }
  
  /* Modal Header */
  .modal-header {
    border-bottom: none;
  }
  